
body{
	width:1300px;
	position: center;
}
.red2{
	background-image:url(../images/bg1.png);
	height:400px;
	width:1300px;
	margin-left: 30px;
}
.red{
	width:800px;
	height:30px;
	text-align: center;
}
a{
	font-size:1.2em;
	color:black;
	margin-left:50px;
	text-decoration: none;
	font-family: sans-serif;
}
.red1 img{
	width:200px;
	height:80px;
	margin-left:30px;
	margin-top:30px;
}
.ss{
	float:right;
	margin-right:130px;
	margin-top:-140px;
}
.red4{
	width:1300px;
	height:230px;
	border-width: 2px;
	border-color: none;
	margin-top:5px;
	margin-left:30px;
	float:left;
}
.red3{
	width:400px;
	height:220px;
	margin-left:30px;
	margin-top:10px;
	position:center;
	float:left;
}
.red3 a img{
	width:260px;
	height:190px;
	margin-left:-50px;
	
}
.red3 p{
	color:red;
	margin-left:40px;
}
.red8{
	width:800px;
	float:left;
}
.red8 p{
	font-size:1.1em;
}
.red5{
	width:1300px;
	height:100px;
	margin-left:30px;
	border-width:1px;
	border-color:none;
}
.red6{
	width:700px;
	height:100px;
	margin-left:30px;
	border-width:1px;
	border-color:none;
	float:left;
}
.red6 p{
	font-size:1.2em;
	font-family: 楷体；
}
.red7{
	width:500px;
	height:100px;
	margin-left:50px;
	margin-top:25px;
	border-width:1px;
	border-color:none;
	float:right;

}
.red7 img{
	width:300px;
	height:75px;
	margin-left:100px;
}
.red9{
	width:800px;
	height:2px;
	float:right;
	margin-right:45px;
}
.red9 img{
	width:800px;
	height:1.5px;
}
.red10{
	width:1300px;
	height:300px;
	border-width: 2px;
	border-color: none;
	margin-top:5px;
	margin-left:30px;
	float:left;
}
.red11{
	width:400px;
	height:300px;
	margin-left:30px;
	margin-top:45px;
	position:center;
	float:left;
}
.red11 a img{
	width:260px;
	height:190px;
	margin-left:-50px;
	position: center;
}
.red11 p{
	color:red;
	margin-left:20px;
}
.red12{
	width:800px;
	height:300px;
	float:left;
}
.red12 p{
	font-size:1.1em;
}
.red13{
	width:1300px;
	height:260px;
	border-width: 2px;
	border-color: none;
	margin-top:5px;
	margin-left:30px;
	float:left;
}
.red14{
	width:400px;
	height:260px;
	margin-left:30px;
	margin-top:30px;
	position:center;
	float:left;
}
.red14 a img{
	width:260px;
	height:190px;
	margin-left:-50px;
	position: center;
}
.red14 p{
	color:red;
	margin-left:20px;
}
.red15{
	width:800px;
	height:260px;
	margin-top:30px;
	float:left;
}
.red15 p{
	font-size:1.1em;
}
.red16{
	width:1300px;
	height:260px;
	border-width: 2px;
	border-color: none;
	margin-top:5px;
	margin-left:30px;
	float:left;
}
.red17{
	width:400px;
	height:260px;
	margin-left:30px;
	margin-top:30px;
	position:center;
	float:left;
}
.red17 a img{
	width:260px;
	height:190px;
	margin-left:-50px;
	position: center;
}
.red17 p{
	color:red;
	margin-left:20px;
}
.red18{
	width:800px;
	height:260px;
	margin-top:30px;
	float:left;
}
.red18 p{
	font-size:1.1em;
}
.red19{
	width:1300px;
	height:2px;
	margin-left:30px;
	margin-top:60px;
	float:left;
}
.red19 img{
	width:1300px;
	height:1.5px;
	margin-top:45px;
}
.red20{
	width:800px;
	height:80px;
	margin-left: 300px;
	margin-top:120px;
}

.red20 a{
	font-size:1.2em;
	color:black;
	float:left;
	margin-left:40px;
	text-decoration: none;
}
.red20 a:hover{
	color:blue;
}
.red21{
	width:1300px;
	height:60px;
	margin-left:30px;
	margin-top:100px;
	background-image:url(../images/line.png);
	float:left;
}
.red21 a{
	font-size:1.2em;
	color:white;
	margin-left:230px;
