ody{
	width:1300px;
	position: center;
}
.red2{
	background-image:url(../images/bg1.png);
	height:400px;
	width:1300px;
	margin-left: 30px;
}
.red{
	width:800px;
	height:30px;
	text-align: center;
}
.red a{
	font-size:1.2em;
	color:black;
	margin-left:50px;
	text-decoration: none;
	font-family: sans-serif;
}
.red1 img{
	width:200px;
	height:80px;
	margin-left:30px;
	margin-top:30px;
}
.ss{
	float:right;
	margin-right:130px;
	margin-top:-140px;
}
.red3{
	width:1300px;
	height:70px;
	margin-left:30px;
	float:left;
}
.red4{
	width:450px;
	height:50px;
	margin-left:30px;
	float:left;
}
.red4 p{
	font-size:2em;
	color:red;
	margin-left:150px;
	font-weight:bold;
}
.red5{
	width:750px;
	height:50px;
	margin-left:30px;
}
.red5 p{
	font-size:2em;
	color:red;
	margin-left:150px;
	float:left;
	font-weight:bold;
}
.red6{
	width:1300px;
	height:2px;
	margin-left:30px;
}
.red6 img{
	width:1300px;
	height:1.5px;
	position:center;
}
.red7{
	width:1300px;
	height:300px;
	float:left;
	margin-left:30px;
}
.red8{
	width:550px;
	height:300px;
	float:left;
}
.red8 img{
	width:250px;
	height:250px;
	border-width: 2px;
	border-color:black;
	margin-left:100px;
	margin-top:40px;
}
.red9{
	width:650px;
	height:300px;
	float:left;
	margin-top:30px;
	margin-left:0px;
}
.red9 ul li a{
	font-size:1.1em;
	color:black;
	text-decoration: none;
	line-height: 200%;
	margin-left:30px;
}
.red9 ul li a:hover{
	color:blue;
}
.red10{
	height:2px;
	width:1300px;
	float:left;
	margin-left:30px;
}
.red11{
	width:450px;
	height:2px;
	float:left;
}
.red11 img{
	width:300px;
	height:1.5px;
	margin-left:75px;
}
.red12{
	width:750px;
	height:2px;
	float:left;
}
.red12 img{
	width:500px;
	height:1.5px;
	margin-left:130px;
}
.red13{
	width:1300px;
	height:300px;
	float:left;
	margin-left:30px;
}
.red14{
	width:550px;
	height:300px;
	float:left;
}
.red14 img{
	width:250px;
	height:250px;
	border-width: 2px;
	border-color:black;
	margin-left:100px;
	margin-top:40px;
}
.red15{
	width:650px;
	height:300px;
	float:left;
	margin-top:30px;
	margin-left:0px;
}
.red15 ul li a{
	font-size:1.1em;
	color:black;
	text-decoration: none;
	line-height: 200%;
	margin-left:30px;
}
.red15 ul li a:hover{
	color:blue;
}
.red16{
	width:1300px;
	height:2px;
	margin-left:30px;
	margin-top:-30px;
	float:left;
}
.red16 img{
	width:1300px;
	height:1.5px;
}
.red17{
	width:800px;
	height:80px;
	margin-left: 300px;
	margin-top:90px;
}

.red17 a{
	font-size:1.2em;
	color:black;
	float:left;
	margin-left:40px;
	text-decoration: none;
}
.red17 a:hover{
	color:blue;
}
.red18{
	width:1300px;
	height:60px;
	margin-left:30px;
	margin-top:100px;
	background-image:url(../images/line.png);
	float:left;
}
.red18 a{
	font-size:1.2em;
	color:white;
	margin-left:230px;
}
